/* CSS declarations go here */

#map {
  height: 700px;
}

body {
  margin: 0;
  padding: 0;
}

body table { width: 100%; }

body table * { vertical-align: top; }

body table td { padding: 0; }

#sidebar {
  width: 30%;
  background: url(paperboy.jpg) no-repeat top center;
  min-height: 600px;
}

#information .item {
  background: white;
  padding: 0 10px 20px 10px;
  margin: 0 10px 20px 10px;
  border: 1px solid black;
}

h1 input {font-size: 130%;}
h1 em {font-size: 80%;}

#paper_info {
  z-index: 2000;
  padding: 15px;
  background: white;
  margin: 0 auto;
  position: fixed;
  left: 25%;
  top: 10%;
  width: 50%;
  height: 80%;
  overflow: scroll;
  border: 1px solid black;

  -webkit-box-shadow: 1px 4px 30px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 4px 30px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 4px 30px rgba(50, 50, 50, 0.75);
}

#paper_info td { padding: 4px; }
#paper_info td:first-child { width: 22%; }

#tab_header {
  border-bottom: 1px solid black;
  padding: 1px;
  overflow: hidden;
}

#tab_header a {
  clear: both;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  border: 1px solid black;
  text-decoration: none;
  background: white;
}

#tab_header a.active {
  border-bottom: 1px solid white;
  font-weight: bold;
}

.listing-paper {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid black;
}
