/* CSS declarations go here */

#map {
  height: 700px;
}

body {
  margin: 0;
  padding: 0;
}

body table { width: 100%; }

body table * { vertical-align: top; }

body table td { padding: 0; }

#sidebar {
  width: 30%;
  background: url(paperboy.jpg) no-repeat center center;
}

#information .item {
  background: white;
  padding: 0 10px 20px 10px;
  margin: 0 10px 20px 10px;
  border: 1px solid black;
}

h1 input {font-size: 150%;}
h1 em {font-size: 80%;}
